body { 
    font-size: 1.2em;
    font-family: 'Work Sans', 'Noto Serif TC',sans-serif;
    background-color: rgb(231, 242, 255);
}

nav {
    background-color: rgb(64, 84, 104);
}

nav a:hover.menu-item { 
    background-color: rgb(63, 98, 139);
}

.card-big { 
    height:80vh; 
    background-color: rgb(98, 130, 170); 
}

.card-small { 
    background-color: rgb(233, 236, 240); 
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.toggle.off { border-color: rgba(0, 0, 0, .25); }

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
.toggling > .toggle {
    width: 110px !important
}   