@font-face{
    font-family: "王漢宗顏楷體";
    src: url(/static/fonts/wt064.ttf);
}

@font-face{
    font-family: "Signika";
    src: url(/static/fonts/Signika-Light.ttf);
}

body { 
    font-size: 1.2em;
    font-family: 'Signika', '王漢宗顏楷體', sans-serif;
    background-color: rgb(162, 180, 202);
}

/* navbar */
nav {
    background-color: rgb(64, 84, 104);
}

/* navbar element highlighting*/
nav a:hover { 
    background-color: rgb(87, 106, 126);
}

nav a.chosen { 
    background-color: rgb(87, 106, 126);
}

/* GeeGee Logo */
nav .Logo {
    width: 40px;
    height: 40px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

nav a:hover.navbar-brand {
    background-color: rgb(64, 84, 104);
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

/* navbar element font color */
.nav-link {
    color: lightgoldenrodyellow !important;
}

.modal-title {
    color: lightgoldenrodyellow !important;
}

/* bottom card container */
.card-big { 
    height:80vh; 
    background-color: rgb(94, 121, 155); 
}

/* bottom card container titles */
.card-big .badge { 
    font-size: 24px;
    color: rgb(231, 242, 255);
    font-weight: normal !important;
    border-color: rgb(231, 242, 255);
}

/* top cards */
#listLeft .card-small {
    cursor: pointer;
}

#chosenItems .card-small {
    cursor: pointer;
}

#suggestions .card-small {
    cursor: default;
}

.disabledRamNum {
    background-color: rgb(223, 219, 219) !important; 
}

#suggestionsLoading {
    display: none; 
}

.badge {
    cursor: default;
}

.card-small { 
    background-color: rgb(233, 236, 241); 
}

.card-small.chosen-menu-item { 
    background-color: rgb(203, 206, 209); 
}

.card-small.chosen-menu-item .form-control { 
    background-color: rgb(223, 219, 219); 
}

.card-small.chosen-menu-item.chosen { 
    background-color: rgb(233, 236, 241); 
}

.card-small .form-control.chosen { 
    background-color: rgb(255, 255, 255); 
}

.plusButton {
    background-color: rgb(89, 136, 51);
}
.minusButton {
    background-color: rgb(182, 26, 26);
}

#chosenItems .input-group-prepend {
    height: 40px;
}

/* hardware list table */
table tbody th {
    font-weight: lighter;
}

.modal-dialog .input-group-text {
    font-size: 1em;
}

@keyframes eee {
    0%,100% { filter: hue-rotate(0deg); }
    25% { filter: hue-rotate(180deg); }
    50% { filter: hue-rotate(360deg); }
    75% { filter: hue-rotate(-180deg); }
}

.pptIntroduction {
    color:rgb(102, 161, 34) !important; 
    animation: eee 5s linear infinite !important;
}

/* mode switch button */
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.toggle.off { border-color: rgba(0, 0, 0, .25); }

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
.toggling > .toggle {
    width: 110px !important
}   

div::-webkit-scrollbar {
  background-color:#00000000;
  width:8px
}

/* background of the scrollbar except button or resizer */
div::-webkit-scrollbar-track {
  background-color:#00000000
}

/* scrollbar itself */
div::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:0px solid #00000000
}

div::-webkit-scrollbar-thumb:hover {
  background-color:#ffffffd5;
  border-radius:16px;
  border:0px solid #00000000
}

/* set button(top and bottom of the scrollbar) */
div::-webkit-scrollbar-button {display:none}