{% extends "mainPage.html" %}

{% block hardwareList %}
<div class="card mb-2 card-small">
    <div class="card-body">
        <div class="card-text">

            <!-- detail table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">
                            <h4>美光Crucia MX500 500G/M.2 SATA 2280/讀:560M/寫:510M/TLC</h4>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>價位</th>
                        <td>$</td>
                    </tr>
                    <tr>
                        <th>類型</th>
                        <td>M.2 SSD</td>
                    </tr>
                    <tr>
                        <th>尺寸</th>
                        <td>2.5吋</td>
                    </tr>
                    <tr>
                        <th>容量</th>
                        <td>500G</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}