<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>GeeGee-大力出奇機</title>

    <!-- icon next to title -->
    <link rel="icon" href="/static/img/Logo.png" type="image/x-icon">

    <!-- bootstrap and jQuery -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- swal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js"
        type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />

    <!-- mode switch button -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="/static/css/mainPage.css">
</head>

<body>
    <!-- hardware menu bar -->
    <nav id="menu" class="navbar navbar-expand-lg navbar-dark border-bottom border-secondary">

        <!-- toggle button for RWD -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#hardware-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- hardware items -->
        <div class="collapse navbar-collapse" id="hardware-menu">
            <ul id="menu-main-nav" class="navbar-nav nav-fill w-100 mt-2">
                <li class="nav-item">
                    <a href="#" id="cpu" class="nav-link menu-item">CPU</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="cpu-cooler" class="nav-link menu-item">CPU散熱器</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="mother-board" class="nav-link menu-item">主機板</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="memory-block" class="nav-link menu-item">記憶體</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="disk-block" class="nav-link menu-item chosen">硬碟</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="graphic" class="nav-link menu-item">顯示卡</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="power" class="nav-link menu-item">電源供應器</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="case" class="nav-link menu-item">機殼</a>
                </li>
            </ul>
        </div>


    </nav>

    <!-- feature bar -->
    <nav class="navbar navbar-expand-lg navbar-dark border-bottom border-secondary">

        <!-- GeeGee Logo -->
        <a class="navbar-brand" href="#"><img class="Logo" src="/static/img/Logo.png" alt="Logo" /></a>

        <!-- toggle button for RWD -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#featureBar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- feature items -->
        <div class="collapse navbar-collapse" id="featureBar">

            <!-- searchText searchButton and customButton -->
            <form class="form-inline my-2 my-lg-0 mr-auto w-25 d-inline">
                <div class="input-group mt-2">

                    <!-- searchText -->
                    <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search">

                    <span class="input-group-append">

                        <!-- searchButton -->
                        <button class="btn rounded-circle bg-light ml-2" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                        <!-- customButton -->
                        <button type="button" class="btn rounded-circle bg-light ml-3" data-toggle="modal"
                            data-target="#customDialog">
                            <i class="fa fa-cog"></i>
                        </button>

                        <!-- customButton dialog when click it -->
                        <div class="modal" tabindex="-1" role="dialog" id="customDialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <!-- header -->
                                    <div class="modal-header" style="background-color: rgb(64, 84, 104);">
                                        <h5 class="modal-title">自訂硬碟</h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span class="text-light">&times;</span>
                                        </button>
                                    </div>

                                    <!-- body -->
                                    <div class="modal-body px-5" style="background-color: rgb(234, 240, 248);">
                                        <!-- first line -->
                                        <div class="input-group mt-3">
                                            <select class="form-control pr-5 rounded-pill" id="type">
                                                <option>M.2</option>
                                                <option>SSD</option>
                                                <option>HDD</option>
                                            </select>

                                        </div>
                                        <!-- second line -->
                                        <div class="input-group mt-3">
                                            <select class="form-control rounded-pill w-auto">
                                                <option>PCIe</option>
                                                <option>SATA</option>
                                            </select>
                                        </div>
                                        <!-- third line -->
                                        <div class="input-group mt-3">
                                            <input class="form-control rounded-pill" type="number" min="0" max="999"
                                                value="0" />
                                            <span class="input-group-append">
                                                <select class="form-control ml-2 rounded-pill w-auto">
                                                    <option>G</option>
                                                    <option>T</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- footer ok and cancel button -->
                                    <div class="modal-footer">
                                        <button id="customDiskButton" type="button" class="btn btn-primary"
                                            data-dismiss="modal">確定</button>
                                        <button type="button" class="btn btn-secondary ml-2"
                                            data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </form>

            <!-- feature bar right side buttons -->
            <ul class="navbar-nav nav-fill">
                <!-- record link -->
                <li class="nav-item">
                    <a class="nav-link mr-2" href="./static/recordPage.html">儲存記錄</a>
                </li>
                <!-- mode switch button -->
                <li class="nav-item">
                    <button id="mode-switch-button" type="checkbox" checked data-toggle="modal"
                        data-target="#modeDialog" style="display: none;"></button>
                    <span id="test">
                        <input id="mode-switch" type="checkbox" checked data-toggle="toggle" data-style="ios"
                            data-onstyle="success" data-offstyle="secondary" data-width="110px" data-on="智慧模式"
                            data-off="一般模式">
                    </span>

                    <!-- customButton dialog when click it -->
                    <div class="modal" tabindex="-1" role="dialog" id="modeDialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <!-- header -->
                                <div class="modal-header" style="background-color: rgb(64, 84, 104);">
                                    <h5 class="modal-title">更換相容性模式</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span class="text-light">&times;</span>
                                    </button>
                                </div>

                                <!-- body -->
                                <div class="modal-body px-5" style="background-color: rgb(234, 240, 248);">
                                    <p>是否確定要更換為智慧模式？</p>
                                </div>

                                <!-- footer ok and cancel button -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary customDiskButton"
                                        data-dismiss="modal">確定</button>
                                    <button type="button" class="btn btn-secondary ml-2 customDiskButton"
                                        data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <script>
                    $( ".customDiskButton" ).on("click", function() {
                        console.log( $(this).text() );
                        let choice = $(this).text();
                        if( choice.startsWith( "確定" ))
                        {
                            $("#test input[type='checkbox']")[0].click();
                        }
                    });
                    $( "#mode-switch-button" ).on( "click", function( event ) { 
                        event.stopPropagation();
                        $( "#modeDialog" ).modal( "show" ); 
                    } ); 
                    $("#test").on( "click", function( event ) {
                        event.stopPropagation();
                        $('#mode-switch-button').click();
                    })
            </script> -->
        </div>
    </nav>

    <!-- three main cards -->
    <div class="card-deck mt-3 ml-2 mr-2 mb-2">

        <!-- hardware list (left) -->
        <div class="card overflow-auto card-big">
            <div id="listLeft" class="card-body">

                <!-- hardware item -->
                <div class="card mb-2 card-small">
                    <div class="card-body">
                        <div class="card-text">

                            <!-- detail table -->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">
                                            <h4>美光Crucia MX500 500G/M.2 SATA 2280/讀:560M/寫:510M/TLC</h4>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th>價位</th>
                                        <td>$</td>
                                    </tr>
                                    <tr>
                                        <th>類型</th>
                                        <td>M.2 SSD</td>
                                    </tr>
                                    <tr>
                                        <th>尺寸</th>
                                        <td>2.5吋</td>
                                    </tr>
                                    <tr>
                                        <th>容量</th>
                                        <td>500G</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- hardware item -->
                <div class="card mb-2 card-small">
                    <div class="card-body">
                        <div class="card-text">

                            <!-- detail table -->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">
                                            <h4>WD Blue 500G/M.2 SATA 2280(藍標)/讀:545M/寫:525M</h4>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th>價位</th>
                                        <td>$</td>
                                    </tr>
                                    <tr>
                                        <th>類型</th>
                                        <td>M.2 SSD</td>
                                    </tr>
                                    <tr>
                                        <th>尺寸</th>
                                        <td>2.5吋</td>
                                    </tr>
                                    <tr>
                                        <th>容量</th>
                                        <td>500G</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- chosen list (center) -->
        <div class="card overflow-auto card-big">
            <div class="card-body text-center">

                <!-- first line -->
                <div class="card-title fnt-weight-bold mt-5 d-inline">
                    <h5 class="badge badge-outlined border" style="font-weight: normal;">已選硬體列表</h5>
                    <!-- save button -->
                    <form class="form-inline my-2 my-lg-0 d-inline float-right">
                        <button class="btn rounded-pill bg-light ml-3" type="button">
                            <i class="fa fa-floppy-o mr-2"></i>儲存
                        </button>
                    </form>
                </div>

                <!-- chosen items -->
                <div id="chosenItems" class="text-left card-text">

                    <!-- cpu block -->
                    <div items="cpu" class="card mb-2 card-small d-block chosen-menu-item cpu">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">CPU</h5>

                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto cpu">AMD Ryzen 5 3600</div>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>

                    <!-- cpu cooler block -->
                    <div items="cpu-cooler" class="card mb-2 card-small d-block chosen-menu-item cpu-cooler">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">CPU散熱器</h5>

                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto cpu-cooler">未選取</div>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>

                    <!-- mother board block -->
                    <div items="mother-board" class="card mb-2 card-small d-block chosen-menu-item mother-board">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">主機板</h5>

                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto mother-board">EVGA X299 Micro ATX 2
                                    </div>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>

                    <!-- memory block -->
                    <div items="memory-block" class="card mb-2 card-small d-block chosen-menu-item memory-block">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">記憶體
                                <!-- plus button -->
                                <form class="form-inline my-2 my-lg-0 d-inline float-right">
                                    <button class="btn rounded-circle plusButton ml-3" type="button"
                                        onclick="btnMemory()">
                                        <i class="fa fa-plus text-light"></i>
                                    </button>
                                </form>
                            </h5>

                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline ">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto memory-block">UMAX 4GB DDR3-1600
                                    </div>
                                    <!-- number spinner -->
                                    <span class="input-group-append">
                                        <input id="memoryNum" class="form-control rounded-pill ml-2" value="0"
                                            type="number" min="0" max="64" placeholder="0" />
                                    </span>
                                </div>

                            </form>
                            </p>
                        </div>
                    </div>

                    <!-- disk block -->
                    <div items="disk-block" class="card mb-2 card-small d-block chosen-menu-item chosen disk-block">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">硬碟
                                <!-- plus button -->
                                <form class="form-inline my-2 my-lg-0 d-inline float-right">
                                    <button class="btn rounded-circle plusButton ml-3" type="button" onclick="btnDisk()">
                                        <i class="fa fa-plus text-light"></i>
                                    </button>
                                </form>
                            </h5>
                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button" onclick="mbtn()">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto chosen disk-block">custom m.2 sata
                                        500G
                                    </div>
                                </div>

                            </form>
                            </p>
                        </div>
                    </div>

                    <!-- graphic block -->
                    <div items="graphic" class="card mb-2 card-small d-block chosen-menu-item graphic">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">顯示卡
                                <!-- plus button -->
                                <form class="form-inline my-2 my-lg-0 d-inline float-right">
                                    <button class="btn rounded-circle plusButton ml-3" type="button" onclick="btn()">
                                        <i class="fa fa-plus text-light"></i>
                                    </button>
                                </form>
                            </h5>
                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto graphic">未選取</div>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>

                    <!-- power block -->
                    <div items="power" class="card mb-2 card-small d-block chosen-menu-item power">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">電源供應器</h5>
                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto power">未選取</div>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>

                    <!-- case block -->
                    <div items="case" class="card mb-2 card-small d-block chosen-menu-item case">
                        <div class="card-body">
                            <!-- header -->
                            <h5 class="card-title font-weight-bold d-inline mt-5">機殼</h5>
                            <!-- body -->
                            <p class="card-text">
                                <!-- first line -->
                            <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                <div class="input-group mt-2">
                                    <!-- minus button -->
                                    <span class="input-group-prepend">
                                        <button class="btn rounded-circle minusButton" type="button">
                                            <i class="fa fa-minus text-light"></i>
                                        </button>
                                    </span>
                                    <!-- infomation -->
                                    <div class="form-control ml-2 rounded-pill text-left h-auto case">銀欣 小烏鴉2</div>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- suggestions list (right) -->
        <div class="card overflow-auto card-big">
            <div class="card-body text-center">
                <!-- first line -->
                <div class="card-title font-weight-bold mt-5 d-inline">
                    <h5 class="badge badge-outlined border" style="font-weight: normal;">相容性提示</h5>
                </div>
                <!-- first suggestion -->
                <div class="text-left card-text">
                    <div class="card mb-2 card-small d-block">
                        <div class="card-body">
                            <p class="card-text">
                                完全相容歐！
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- layout for RWD -->
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                        硬體列表
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordion">

                <!-- hardware list (left) -->
                <div class="card overflow-auto card-big">
                    <div class="card-body">

                        <!-- hardware item -->
                        <div class="card mb-2 card-small">
                            <div class="card-body">
                                <div class="card-text">

                                    <!-- detail table -->
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <h4>美光Crucia MX500 500G/M.2 SATA 2280/讀:560M/寫:510M/TLC</h4>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th>價位</th>
                                                <td>$</td>
                                            </tr>
                                            <tr>
                                                <th>類型</th>
                                                <td>M.2 SSD</td>
                                            </tr>
                                            <tr>
                                                <th>尺寸</th>
                                                <td>2.5吋</td>
                                            </tr>
                                            <tr>
                                                <th>容量</th>
                                                <td>500G</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- hardware item -->
                        <div class="card mb-2 card-small">
                            <div class="card-body">
                                <div class="card-text">

                                    <!-- detail table -->
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <h4>WD Blue 500G/M.2 SATA 2280(藍標)/讀:545M/寫:525M</h4>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th>價位</th>
                                                <td>$</td>
                                            </tr>
                                            <tr>
                                                <th>類型</th>
                                                <td>M.2 SSD</td>
                                            </tr>
                                            <tr>
                                                <th>尺寸</th>
                                                <td>2.5吋</td>
                                            </tr>
                                            <tr>
                                                <th>容量</th>
                                                <td>500G</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- hardware item -->
                        <div class="card mb-2 card-small">
                            <div class="card-body">
                                <div class="card-text">

                                    <!-- detail table -->
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <h4>美光Crucia MX500 500G/M.2 SATA 2280/讀:560M/寫:510M/TLC</h4>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th>價位</th>
                                                <td>$</td>
                                            </tr>
                                            <tr>
                                                <th>類型</th>
                                                <td>M.2 SSD</td>
                                            </tr>
                                            <tr>
                                                <th>尺寸</th>
                                                <td>2.5吋</td>
                                            </tr>
                                            <tr>
                                                <th>容量</th>
                                                <td>500G</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- hardware item -->
                        <div class="card mb-2 card-small">
                            <div class="card-body">
                                <div class="card-text">

                                    <!-- detail table -->
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <h4>WD Blue 500G/M.2 SATA 2280(藍標)/讀:545M/寫:525M</h4>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th>價位</th>
                                                <td>$</td>
                                            </tr>
                                            <tr>
                                                <th>類型</th>
                                                <td>M.2 SSD</td>
                                            </tr>
                                            <tr>
                                                <th>尺寸</th>
                                                <td>2.5吋</td>
                                            </tr>
                                            <tr>
                                                <th>容量</th>
                                                <td>500G</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- hardware item -->
                        <div class="card mb-2 card-small">
                            <div class="card-body">
                                <div class="card-text">

                                    <!-- detail table -->
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <h4>美光Crucia MX500 500G/M.2 SATA 2280/讀:560M/寫:510M/TLC</h4>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th>價位</th>
                                                <td>$</td>
                                            </tr>
                                            <tr>
                                                <th>類型</th>
                                                <td>M.2 SSD</td>
                                            </tr>
                                            <tr>
                                                <th>尺寸</th>
                                                <td>2.5吋</td>
                                            </tr>
                                            <tr>
                                                <th>容量</th>
                                                <td>500G</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- hardware item -->
                        <div class="card mb-2 card-small">
                            <div class="card-body">
                                <div class="card-text">

                                    <!-- detail table -->
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <h4>WD Blue 500G/M.2 SATA 2280(藍標)/讀:545M/寫:525M</h4>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th>價位</th>
                                                <td>$</td>
                                            </tr>
                                            <tr>
                                                <th>類型</th>
                                                <td>M.2 SSD</td>
                                            </tr>
                                            <tr>
                                                <th>尺寸</th>
                                                <td>2.5吋</td>
                                            </tr>
                                            <tr>
                                                <th>容量</th>
                                                <td>500G</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">
                        已選硬體列表
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">

                <!-- chosen list (center) -->
                <div class="card overflow-auto card-big">
                    <div class="card-body text-center">

                        <!-- first line -->
                        <div class="card-title font-weight-bold mt-5 d-inline">
                            <h5 class="badge badge-outlined border" style="font-weight: normal;">已選硬體列表</h5>
                            <!-- save button -->
                            <form class="form-inline my-2 my-lg-0 d-inline float-right">
                                <button class="btn rounded-pill bg-light ml-3" type="button">
                                    <i class="fa fa-floppy-o mr-2"></i>儲存
                                </button>
                            </form>
                        </div>

                        <!-- chosen items -->
                        <div class="text-left card-text mt-2">

                            <!-- cpu block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">CPU</h5>

                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left h-auto">AMD Ryzen 5
                                                3600</div>
                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <!-- cpu cooler block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">CPU散熱器</h5>

                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left h-auto">未選取</div>
                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <!-- mother board block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">主機板</h5>

                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left h-auto">EVGA X299 Micro
                                                ATX 2
                                            </div>
                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <!-- memory block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">記憶體
                                        <!-- plus button -->
                                        <form class="form-inline my-2 my-lg-0 d-inline float-right">
                                            <button class="btn rounded-circle plusButton ml-3" type="button">
                                                <i class="fa fa-plus text-light"></i>
                                            </button>
                                        </form>
                                    </h5>

                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left h-auto">UMAX 4GB
                                                DDR3-1600
                                            </div>
                                            <!-- number spinner -->
                                            <span class="input-group-append">
                                                <input class="form-control rounded-pill ml-2" type="number" min="0"
                                                    max="64" placeholder="0" />
                                            </span>

                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <!-- disk block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item chosen">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">硬碟
                                        <!-- plus button -->
                                        <form class="form-inline my-2 my-lg-0 d-inline float-right">
                                            <button class="btn rounded-circle plusButton ml-3" type="button">
                                                <i class="fa fa-plus text-light"></i>
                                            </button>
                                        </form>
                                    </h5>
                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left chosen">custom m.2 sata
                                                500G</div>
                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <!-- graphic block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">顯示卡
                                        <!-- plus button -->
                                        <form class="form-inline my-2 my-lg-0 d-inline float-right">
                                            <button class="btn rounded-circle plusButton ml-3" type="button">
                                                <i class="fa fa-plus text-light"></i>
                                            </button>
                                        </form>
                                    </h5>
                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left h-auto">未選取</div>
                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <!-- power block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">電源供應器</h5>
                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left h-auto">未選取</div>
                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>

                            <!-- case block -->
                            <div class="card mb-2 card-small d-block chosen-menu-item">
                                <div class="card-body">
                                    <!-- header -->
                                    <h5 class="card-title font-weight-bold d-inline mt-5">機殼</h5>
                                    <!-- body -->
                                    <p class="card-text">
                                        <!-- first line -->
                                    <form class="form-inline my-2 my-lg-0 w-100 d-inline">
                                        <div class="input-group mt-2">
                                            <!-- minus button -->
                                            <span class="input-group-prepend">
                                                <button class="btn rounded-circle minusButton" type="button">
                                                    <i class="fa fa-minus text-light"></i>
                                                </button>
                                            </span>
                                            <!-- infomation -->
                                            <div class="form-control ml-2 rounded-pill text-left h-auto">銀欣 小烏鴉2</div>
                                        </div>
                                    </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">
                        相容性提示
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <!-- suggestions list (right) -->
                <div class="card overflow-auto card-big">
                    <div class="card-body text-center">
                        <!-- first line -->
                        <div class="card-title font-weight-bold mt-5 d-inline">
                            <h5 class="badge badge-outlined border" style="font-weight: normal;">相容性提示</h5>
                        </div>
                        <!-- first suggestion -->
                        <div class="text-left card-text">
                            <div class="card mb-2 card-small d-block">
                                <div class="card-body">
                                    <p class="card-text">
                                        完全相容歐！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/mainPage.js"></script>

</body>

</html>